<div class="gradient">
  <div class="container-img">
    <div class="banner-content">
      <div class="banner">
        <%= form_tag chateaus_path, :method => :get do %>
          <%= text_field_tag :bedrooms, nil, placeholder: "Bedrooms" %>
          <%= text_field_tag :area, nil, placeholder: "Area" %>
          <%= text_field_tag :price, nil, placeholder: "Price" %>
          <%= submit_tag "Search", :name => nil, class: "btn btn-medium-sp" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
