 <div class="search-box">
  <div class="box-results">
    <ul>
      <li>
        <P>(RB path for n) properties correspond to your search</P>
        <P>Sort by:
          <select class="sortbox" name="sortby">
            <option>Our favourites</option>
            <option>Most recent</option>
            <option>Price: High to low</option>
            <option>Price: Low to high</option>
            <option>Surface</option>
            <option>Number of rooms</option>
          </select>

        </P>
        <P>Show by:
            <select class="sortbox" name="qttyperpage">
            <option>5</option>
            <option>10</option>
            <option>15</option>
            <option>All</option>
          </select>
        </P>
      </li>
      <li>
        <P><a href="#"> > Modify the parameters of your search</a></P>
        <P><a href="#"> > Save search parameters</a></P>
        <P><a href="#"> > Create e-mail alert</a></P>
      </li>
    </ul>
  </div>
</div>

<div class="content-search">
  <div class="cards-container card-list">
    <ul class="card-list">
      <li>
       <% @chateaus.each do |chateau| %>
       <%= link_to chateau_path(chateau.id) do %>
       <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,47,75,0.2) 0%, rgba(220,66,37,0.2) 90%), url('<%= chateau.photo_url %>')">
        <div class="card-description">
          <%= link_to chateau.description, chateau_path(chateau.id) %>
          <br>
        </div>
        <div class="explaining-text">
          create ruby path for explaining text
          <br>
        </div>
        <div class="price-bedrooms">
          <p><%= chateau.price %>£ / week
            <p><%= chateau.bedrooms %> bedrooms
            </div>
          </div>
          <% end %>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="fixed-map" id="chateaus-map" style="position: relative">
    </div>
  </div>

  <% content_for(:after_js) do %>

  <script>
    var styles = [
    {
      "featureType": "water",
      "stylers": [
      {
        "visibility": "on"
      },
      {
        "color": "#b5cbe4"
      }
      ]
    },
    {
      "featureType": "landscape",
      "stylers": [
      {
        "color": "#efefef"
      }
      ]
    },
    {
      "featureType": "road.highway",
      "elementType": "geometry",
      "stylers": [
      {
        "color": "#83a5b0"
      }
      ]
    },
    {
      "featureType": "road.arterial",
      "elementType": "geometry",
      "stylers": [
      {
        "color": "#bdcdd3"
      }
      ]
    },
    {
      "featureType": "road.local",
      "elementType": "geometry",
      "stylers": [
      {
        "color": "#ffffff"
      }
      ]
    },
    {
      "featureType": "poi.park",
      "elementType": "geometry",
      "stylers": [
      {
        "color": "#e3eed3"
      }
      ]
    },
    {
      "featureType": "administrative",
      "stylers": [
      {
        "visibility": "on"
      },
      {
        "lightness": 33
      }
      ]
    },
    {
      "featureType": "road"
    },
    {
      "featureType": "poi.park",
      "elementType": "labels",
      "stylers": [
      {
        "visibility": "on"
      },
      {
        "lightness": 20
      }
      ]
    },
    {},
    {
      "featureType": "road",
      "stylers": [
      {
        "lightness": 20
      }
      ]
    }
    ]
    var handler = Gmaps.build('Google');

    handler.buildMap({ internal: { id: 'chateaus-map' }, provider: {
      styles: styles }, }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    </script>
    <% end %>

    <%= render "shared/footer" %>


