<%= render 'shared/navbar' %>
<div class="content">
  <div class="cards-container card-list">
    <ul class="card-list">
      <li>
       <% @chateaus.each do |chateau| %>
        <%= link_to chateau_path(chateau.id) do %>
        <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,47,75,0.2) 0%, rgba(220,66,37,0.2) 90%), url('<%= chateau.photo_url %>')">
          <% end %>
          <div class="card-description">
            <%= link_to chateau.description, chateau_path(chateau.id) %>
            <br>
          </div>
          <div class="explaining-text">
            here goes some more explaining text
            <br>
          </div>
          <div class="price-bedrooms">
            <%= chateau.price %>£ / week
            <br>
            <%= chateau.bedrooms %> bedrooms
          </div>
        </div>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="col-xs-6 col-md-6">
    <div class="fixed-map" id="chateaus-map" style="position: fixed"></div>
  </div>
</div>

<% content_for(:after_js) do %>
<script>
  var styles = [
  {
    "featureType": "water",
    "stylers": [
    {
      "visibility": "on"
    },
    {
      "color": "#b5cbe4"
    }
    ]
  },
  {
    "featureType": "landscape",
    "stylers": [
    {
      "color": "#efefef"
    }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry",
    "stylers": [
    {
      "color": "#83a5b0"
    }
    ]
  },
  {
    "featureType": "road.arterial",
    "elementType": "geometry",
    "stylers": [
    {
      "color": "#bdcdd3"
    }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "geometry",
    "stylers": [
    {
      "color": "#ffffff"
    }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "geometry",
    "stylers": [
    {
      "color": "#e3eed3"
    }
    ]
  },
  {
    "featureType": "administrative",
    "stylers": [
    {
      "visibility": "on"
    },
    {
      "lightness": 33
    }
    ]
  },
  {
    "featureType": "road"
  },
  {
    "featureType": "poi.park",
    "elementType": "labels",
    "stylers": [
    {
      "visibility": "on"
    },
    {
      "lightness": 20
    }
    ]
  },
  {},
  {
    "featureType": "road",
    "stylers": [
    {
      "lightness": 20
    }
    ]
  }
  ]
  var handler = Gmaps.build('Google');

  handler.buildMap({ internal: { id: 'chateaus-map' }, provider: {
    styles: styles }, }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  </script>
  <% end %>

  <%= render "shared/footer" %>


