<div class="content">
  <div class="cards-container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= @chateau.photo_url %>');">
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <ul class="list-inline">
          <li><%= @chateau.description %></li>
          <li><%= @chateau.address %></li>
          <li><%= @chateau.bedrooms %> bedrooms </li>
          <li><%= @chateau.price %> £/pw</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <%= render "shared/booking_form" %>
      </div>
      <div class="col-xs-12 col-md-6">
        <div id="map" style="width: 100%; height: 600px;"></div>
      </div>
    </div>
    <div>
      <div class="slider">
      <img src="http://res.cloudinary.com/petit-chateau/image/upload/v1510676878/3b896616-4d71-428d-9a28-f832ac46ecd5-0_yqfpk7.jpg" /><img src="images/image2.jpg" /><img src="images/image3.jpg" /><div><img src="images/image4.jpg" /></div>
<     </div>
    </div>
  </div>
</div>

 <% content_for(:after_js) do %>
    <script>
      var handler = Gmaps.build('Google');

      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    </script>
  <% end %>
  </div>